/*----------------------------------------------------
    共通css
----------------------------------------------------*/

.mokuji_wrap li ul {
  margin: 0;
  padding: 0;
}


p.mokuji {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 2px;
  color: #fff;
}

p.mokuji .show-area {
font-size: 18px;
background: none;
text-decoration: underline;
}

.table-of-contents{
  display: none;
}

.show-area{
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 0;
  color: #66615c;
}


.mark02{
background: #ffeb3b87;
}


/*----------------------------------------------------
  PCサイトcss
----------------------------------------------------*/

@media screen and (min-width: 600px) {
/*/////////////PC用のCSSをここに作成してください。/////////////*/
/*/////////////必ず中括弧の中に作成してください。/////////////*/
.imgList .caption {
  color: #808080;
  font-size: 12px;
  margin: 0.7em;
}
.modTtl01 {
  color: #808080;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.4;
  text-align: left;
  margin: 10px 0 15px;
}
.epa_float{
  float: right;
  max-width: 40%;
  margin: 0.5em;
}
.imgList_center {
  width: 100%;
  margin: 20px 0 10px;
}
.PCimagesize {
  max-width: 90%;
  margin: 0 0em;
}
.imgList_center {
  width: 100%;
  margin: 0;
  padding: 0 3.5em;
  margin: 20px 0 10px;
}
.imgList .caption {
  color: #2D2D2D;
  font-size: 12px;
  margin: 0.7em;
}
.caption {
  font-size: 12px;
  color: #2D2D2D;
}
.mechanism_img {
  margin-bottom: 2.0em;
}
.box {
  float: left;
  margin: 0.5em 1.2em;
}
.boxContainer {
overflow: hidden;
}
.boxContainer .txt {
  font-size: 0.8em;
  width: 12.5em;
}
.boxContainer .arrow {
  margin: 12.5em auto;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
  content: "";
  display: table;
}

.boxContainer:after {
  clear: both;
}

.boxContainer {
  margin: 0 auto;

}
.modBox04Wrap.mB50_sp {
  display: none;
}
.modBox06Wrap .modBox06 .imgBox {
  height: 18em;
}
.mB50 {
  margin-bottom: 50px;
  text-align: center;
}
.arrow {
  margin: 0em 21em 1em;
  transform: rotate(90deg);
  top: auto;
  left: 0;
  right: 0;
  bottom: -40px;
}
/* お問い合わせフォーム */
form{
margin: 0 auto 2em;
padding:1rem;
border:1px solid #e0e0e0;
border-top:4px solid #7bbbc5;
box-shadow:1px 1px 1px #f0f0f0;

}
label{
display:inline-block;
width: 100%;
margin:auto;
font-size:16px;
font-weight:bold;
}

textarea {
resize: vertical;
width:100%;
height:8rem;
border-bottom:1px solid #e0e0e0;
font-family:Meiryo UI;
}

button{
display:block;
background:#4285f4;
padding:0.3rem 1.5rem;
border:none;
border-radius:2px;
font-weight:bold;
color:#fff;
}
button:hover{
opacity:0.5;
}

.main_lpepa {
width: -webkit-calc(100% - 250px);
width: calc(100% - 250px);
}

.tittle_lpepa {
    margin: 20px 0 0 0;
}

.w100 {
width: 100% !important;
}

.sp_only {
display: none;
}
.pc_manga {
  max-width: 774px;
  height: auto;
  border: solid #252525 3px;
  display: block;
}

.manga_heading {
text-align: center;
  border: solid 3px #252525;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 35px;
}
.lead {
  background-color: #d5f9ff;
  margin: 10px 0px;
  padding: 5px 5px;
}

.narrative {
margin: 40px 0;
}

.narrative p {
  font-size: 22px !important;
  color: #444444;
  font-weight: bold;
}
.btn-cv {
  text-align: -webkit-center;
}
}





/*----------------------------------------------------
  SPサイトcss
----------------------------------------------------*/

@media screen and (max-width: 599px) {
/*/////////////SP用のCSSをここに作成してください。/////////////*/
/*/////////////必ず中括弧の中に作成してください。/////////////*/
em {
  -webkit-text-emphasis: filled circle #e54166;
 text-emphasis: filled circle #e54166;
}
.epa_float {
  max-width: 80%;
padding: 1.1em 0;
}
.PCimagesize {
  max-width: 100%;
  margin: 0;
}
.boxContainer {
  display: none;
}
.imgFitBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover; object-position: center;';
}
.modBox04 .txtBox {
  width: 100%;
  margin: 1.2em auto;
}
.arrow {
  margin: 0em 8em 1em;
  transform: rotate(90deg);
  top: auto;
  left: 0;
  right: 0;
  bottom: -40px;
}
/* お問い合わせフォーム */
form{
margin:auto;
padding:1rem;
border:1px solid #e0e0e0;
border-top:4px solid #7bbbc5;
box-shadow:1px 1px 1px #f0f0f0;

}
label{
display:inline-block;
width:200px;
margin:auto;
font-size:16px;
font-weight:bold;
}

textarea {
resize: vertical;
width:100%;
height:8rem;
border-bottom:1px solid #e0e0e0;
font-family:Meiryo UI;
}

button{
display:block;
background:#4285f4;
padding:0.3rem 1.5rem;
border:none;
border-radius:2px;
font-weight:bold;
color:#fff;
}
button:hover{
opacity:0.5;
}

.tittle_lpepa {
  margin: 20px 0 0 0;
}

.pc_only {
display: none;
}

.sp_manga {
max-width: 100%;
height: auto;
margin-bottom: 10px
}

.manga_heading {
text-align: center;
  border: solid 3px #252525;
  margin: 10px 0;
  padding: 5px 0;
  font-size: 25px;
}
.lead {
  background-color: #d5f9ff;
  margin: 10px 0px 20px;
  padding: 5px 5px;
}

.narrative {
margin: 40px 0;
}

.narrative p {
  font-size: 20px !important;
  color: #444444;
  font-weight: bold;
}

}














.lp0 p {
padding:4px;
font-size:16px;

}

.lp0 p , h1 , h2 , h3 , li ,ul , ol,blockquote , span {
font-family: 'Lato', 'Noto Sans JP', '游ゴシック Medium', '游ゴシック体', 'Yu Gothic Medium', YuGothic, 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.lp0midashi{
/*   margin:16px 0;  */
padding:16px 8px;
background:#fdff00;
font-weight:bold;
font-size:20px;

}


/*****LP制作用*****/
@media screen and (min-width: 768px) {
.lp0{
width:800px;
padding: 10px;
background-color: #fff;
}

}


@media screen and (max-width: 600px) {
.lp0{
padding:10px 12px;
}

}



.box25{
  position: relative;
  background: #fff0cd;
  box-shadow: 0px 0px 0px 5px #fff0cd;
  border: dashed 2px white;
  padding: 0.2em 0.5em;
  color: #454545;
margin:16px 0;
}
.box25:after{
  position: absolute;
  content: '';
  right: -7px;
  top: -7px;
  border-width: 0 15px 15px 0;
  border-style: solid;
  border-color: #ffdb88 #fff #ffdb88;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.15);
}
.box25 p {
  margin: 0; 
  padding: 0;
}

.profile-card{
width: 100%;
max-width:400px;
position: relative;
background: #fff; /*背景の色*/
box-shadow: 0px 1px 3px rgba(0,0,0,.18);
overflow: hidden;
margin:14px auto;
}

.profile-card:before{
width:120%;
height:100px;
content:"";
transform:skew(15deg,10deg);
background: #70b7ff; /*斜め背景の色*/
position:  absolute;
top:-15%;
left:-10%;
z-index: 0;
}

.profile-card__inner{
position: relative;
}

.profile-thumb{
  overflow: hidden;
  width: 110px;
  height: 110px;
  border: #fff 3px solid;
  border-radius: 55px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  background: #fff;
}

.profile-thumb img{
display: block;
  width: 100%;
  height: auto;
}

.profile-content{
padding: 15px;
}

.profile-content span{
display: block;
}

.profile-name{
margin-bottom: 3px;
font-weight: bold;
text-align: center;
font-size:20px;
}

.profile-job{
margin-bottom: 10px;
color: #4d4d4d;
font-size: 10px;
text-align: center;
}

.profile-intro{
font-size: 12px;
}

.komidasi {
font-weight:bold;
font-size:18px;
COLOR:red;
}

.h2midasi{
background:#41a6c3;
color:#fff;
margin:16px 0;
padding:4px;
/*   border-top:2px solid #4357da;
border-bottom:2px solid #4357da;;
*/
}

.lp0 h3{

margin:16px 0;
padding:4px 4px 4px 10px;
border-left:3px solid #41a6c3;
/* border-bottom:3px solid #41a6c3; */
}

.box29 {
  margin: 2em 0;
  background: #dcefff;
}
.box29 .box-title {
  font-size: 1.2em;
  background: #5fb3f5;
  padding: 4px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  letter-spacing: 0.05em;
}
.box29 p {
  padding: 15px 20px;
  margin: 0;
}
.dounyu{
text-align:center;
color:black;
}
